
# Carpetas de compilación
bin/
obj/

# Configuración de Visual Studio
.vs/
*.user
*.suo

# Archivos de log y temporales
logs/
*.log
*.tmp
nlog.config

# Archivos de publicación
*.publishsettings

# Configuraciones específicas de la máquina
*.dbmdl
*.vscode/
*.swp

# appsettings.json
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Archivos de backup o temporales
*.bak
*.old

# Archivos ocultos de sistema operativo
.DS_Store
Thumbs.db
/LaboratoryService_Api/nlog.config
