<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- Habilitar los targets de ASP.NET Core -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!--~~~~~~~~~~~~~~~~~~~~~~ Loggers en dev ~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- Logs generales -->
		<target xsi:type="File"
				name="allfile"
				fileName="c:\temp\nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		<!-- Logs de errores e información sobre ASP.NET CORE -->
		<target xsi:type="File"
				name="ownFile-web"
				fileName="c:\temp\nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		<!-- Salida a consola -->
		<target xsi:type="Console"
				name="lifetimeConsole"
				layout="${MicrosoftConsoleLayout}" />
		<!-- Mensajes recibidos en TcpServer -->
		<target xsi:type="File"
				name="tcpServer"
				fileName="C:\Users\Acer\Documents\Excelencia\Zismed\Código\LaboratoryService\LaboratoryService_Api\logs\tcpServer-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				createDirs="true"
				/>
		<!-- Logs de TcpClient -->
		<target xsi:type="File"
				name="tcpCLient"
				fileName="C:\Users\Acer\Documents\Excelencia\Zismed\Código\LaboratoryService\LaboratoryService_Api\logs\tcpClient-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				createDirs="true"
				/>
	</targets>


	<rules>
		<!-- Loggs específicos de un servicio -->
		<logger name="LaboratoryService_Api.Utilities.TcpServer" minlevel="Trace" writeTo="tcpServer" />
		<logger name="LaboratoryService_Api.Utilities.TcpClient" minlevel="Trace" writeTo="tcpCLient" />

		<!-- Todos los logs, incluyendo del framework -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!-- Logs personalizados -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
		<logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
	</rules>
</nlog>